/* Style the navbar */
.container-fluid{
margin-bottom: 150px;
}
.navbar-brand  {
  font-size: 1.5rem !important;
}

.cid-s1YLYYtmhw img {
  width:460px ;
  height: 450px;
  max-width:100vw;
}
nav {
  background-color:#040402;
  overflow: hidden;
}

/* Style the links in the navbar */
nav a {
  display: block;
  color: rgb(249, 247, 247) !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the background color of links on hover */
nav a:hover {
  background-color: #f00e0e!important;
  color: black !important;
}

/* Style the dropdown button */
.dropbtn {
  display: block;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Change color of dropdown button on hover */
/* .dropdown:hover .dropbtn {
  background-color: #e01c1c;
  color: black !important;
} */

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131212;
  min-width: 160px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change the background color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #df0e0e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the arrow */
.arrow {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
#dropdown-menu{
  background-color: rgb(234, 239, 239) !important;
}
.display-4{
  color: #080707 !important;
}
.card {
  animation-name: slide-in;
  animation-duration: 2s;
  animation-delay: 0.4s;
  /* width: 80% !important; */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* .mbr-white  {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* facebook animation  */
#features2-2 {
  animation-name: slide-in;
  animation-duration: 2s;
  animation-delay: 0.4s;
  /* width: 80% !important; */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#features3-3 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
img {
  /* width: 300px;
  height: 200px; */
  transition: transform 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.2);
}
#typewriter h1 {
  overflow: hidden;
  border-right: .10em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
